* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    font-size: 100%;
    line-height: $line-height;
    overflow: hidden;
    font-family: $font-body;
  }

  #map {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: #ec8319 !important;
    color: white;
}


li.nodisc {
  list-style-type: none;
}