$lfv-orange: #ec8319;
$lfv-btn-orange: #ffa340;

$shadow-grey: rgba(0, 0, 0, 0.15);
$more-grey: #a49c92;

$very-white-blue: #f8f8fd;

$font-body: sans-serif;
$line-height: 1.4;
$body-font-size: 1.4rem;
